<body>
    <div class="background" #discoverElement>
        <div class="header-container">
            <h1>All trips</h1>
        </div>
        <hr>
        <div class="search-bar">
            <input type="text" [(ngModel)]="searchCard" placeholder="Select your country/city" (input)="search()">
            <button class="button" (click)="clearSearch()">Clear</button>
        </div>
        <div class="game-list-container">
            <ng-container *ngFor="let thisCard of filteredCards; let index=index">
                <app-trip-card [tripCard]="thisCard"></app-trip-card>
            </ng-container>
        </div>
    </div>
</body>