.container {
    background-image: url(../../../../assets/peakpx.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .title {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
  }
  
  #one {
    font-size: 28px;
    color: #ffffff; /* White color */
  }
  
  #two {
    font-size: 60px;
    color: #ffffff;
   font-weight: bolder;
    animation: bounce 1.5s ease-in-out infinite;
  }
  
  
  
  @keyframes bounce {
    0%,
    100% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
  }
  
  #three {
    font-size: 20px;
    color: #342234; 
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 10px;
    border-radius: 5px;
  }
  .buttonExplore {
    background: linear-gradient(to bottom, #342234, #342234);
    font-size: 25px;
    padding: 12px 25px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    transition-duration: 0.4s;
    margin-top: 5px;
    font-weight: bold;
  }
  
  
  .buttonExplore:hover {
    background: linear-gradient(to bottom, #ffffff, #ffffff); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #342234;
    transform: scale(1.05);
  }
  hr {
margin-top: -50px;
    width: 700px;
    border: none;
    border-top: 1px solid #FDD7CA;
  }