.background {
  background-image: linear-gradient(to bottom, #ffffff, rgb(42, 22, 106));
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;
}

.table-styling {
  width: 100%;
  height: 400px;
  border-collapse: collapse;
  padding: 20px;
  
}

.th {
  background-color: rgb(80, 97, 170);
  color: #fff;
  font-weight: bold;
  padding: 12px;
  text-align: left;
}

.td {
  padding: 12px;
  text-align: left;
}

.tr:nth-child(even) {
  background-color: #f7f7f7;
}

.tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.button {
  background-color: rgb(42, 22, 106);
  color: #fff;
  font-size: 15px;
  padding: 10px 50px; /* Adjust padding to make the button wider */
  border: none;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-right: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(24, 11, 67);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.button-container .button {
  margin: 0 4px;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
