<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Country</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please write at least 4 letters!">
      <input nz-input formControlName="country" placeholder="country" minlength="4" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>City</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please write at least 4 letters!">
      <input nz-input formControlName="city" placeholder="city" minlength="4" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Attraction</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please write at least 4 letters!">
      <input nz-input formControlName="attraction" placeholder="ex: Pisa Tower, Eiffel Tower..." minlength="4" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Restaurant/Café</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please write at least 4 letters!!">
      <input nz-input formControlName="restaurant" placeholder="cafe restaurant which you liked" minlength="4" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <div class="" button-container>
        <button class="button" [disabled]="!validateForm.valid">Submit</button>
        <button class="button" (click)="resetForm($event)">Reset</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>